@import url('https://rsms.me/inter/inter.css');

body {
	background-color: #FAF9F6;
	font-family: 'Inter', sans-serif;
	font-size: 1em;
}

.content {
	margin: auto;
	max-width: 500px;
	padding: 10vw;
}

.entry {}

.content-text{
	color: #434A54;
}

.link {
	color: #2a5db0;
	text-decoration: none;
}

.link-dotted {
	color: inherit;
  text-decoration-style: dotted;
  text-underline-offset: 0.1em;
}

.rightmargin {
	margin-right: 1em;
}
